<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="logDir">${sys:log.dir}</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}][%p] %m%n" />
        </Console>
        <File name="File" fileName="${logDir}/logs/lastlog.log" append="false">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}][%p] %m%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>
